.topSection {
  position: relative;
}

.pdfBlock {
  position: absolute;
  right: 0;
  top: 0;

  width: 100px;
  text-align: center;

  .label {
    display: block;
  }

  .filename {
    font-size: 12px;
    hyphens: auto;
  }
}

.topControls {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.addImageBlock {
  width: 180px;
  flex-shrink: 0;
}

.addAudioBlock {
  width: 180px;
  flex-shrink: 0;
}

.button {
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: 48px;
    transition: all 0.1s;
  }

  &:hover:not(:disabled) {
    img {
      transform: scale(0.97);
    }
  }

  &:disabled {
    opacity: 0.7;
  }
}

.label {
  display: block;
  font-weight: 500;
}

.textFromBlock {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  label {
    margin-bottom: 5px;
  }
}

.timerBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 210px;
  align-self: flex-start;

  label {
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;

    input {
      margin-right: 5px;
    }
  }
}

.enterNumberBlock {
  width: 100px;
  font-size: 14px;

  &.disabled {
    opacity: 0.5;
  }

  input {
    margin-top: 10px;
    width: 100%;
    padding: 3px 5px 4px;
  }
}

.contentArea {
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin: 30px auto;

  position: relative;
  background-color: #fff;
}

.textImage {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
