.column {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  min-width: 250px;
}

.colTitle {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}

.list {
  height: 260px;
  overflow: auto;
  font-size: 12px;
  border: 1px solid #e8e8e8;
  margin-top: 30px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.23);
  font-size: 12px;
}

.checkbox {
  padding: 0 !important;
}

.selectMenuTypeWrapper {
  margin-top: 20px;
}
