.wrapper {
  position: absolute;
  left: 50%;
  top: 43.5vh;
  transform: translate(-50%, -50%);
}

.innerWrapper {
  position: relative;
  min-width: 92vmin;
  max-width: 92vw;
}

.header {
  height: 10vmin;
  position: relative;
  text-align: center;
  padding: 0 16vmin;
}

.logoWrapper {
  width: 15vmin;
  position: absolute;
  top: 0;
  left: 0;
}

.menuTitle {
  font-family: Impact, sans-serif;
  font-size: 3.8vmin;
  font-weight: 500;
  margin: 0 0 0.8vmin;
}

.menuSubtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4vmin;
  font-weight: 500;
  margin: 0;
}

.tableHeading {
  display: flex;
  align-items: center;
  text-align: center;
  vertical-align: bottom;
  font-size: 2.2vmin;
  font-weight: 500;
  margin-bottom: 1vmin;

  > * {
    flex-grow: 1;

    &:first-child {
      width: 15vmin;
      align-self: stretch;
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
    }
  }

  figure {
    width: 15vmin;
    margin: 0 2vmin;

    img {
      max-height: 15vmin;
      max-width: 70%;
      margin-bottom: 1vmin;
    }
  }
}

.tableBody {
  max-height: 48vmin;
  overflow-y: auto;
  direction: rtl;
}

.levelRow {
  direction: ltr;
  display: flex;
  height: 6vmin;
  align-items: center;
}

.highlight {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(#0080ff, 0.5);
    border-radius: 2vmin;
    // animation: pulse 2s ease-in-out infinite;
  }
}

// @keyframes pulse {
//   50% {
//     opacity: 0;
//   }
// }

.levelTitle {
  font-size: 2.3vmin;
  flex-shrink: 0;
  font-weight: 500;
  width: 15vmin;
  text-align: center;
}

.cell {
  text-align: center;
  margin: 0 2vmin;
  width: 100%;
}

.menuGroupBtn {
  width: 10vmin;
  height: 5vmin;
  border-radius: 2vmin;
  border: 1px solid var(--purple);
  background-color: #bfe5e2;
  transition: background-color 0.1s ease;
  text-decoration: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  > * {
    max-height: 4.5vmin;
    margin: 0 1px;
  }

  img {
    display: inline-block;
    max-height: 4.5vmin;
  }

  &:disabled {
    cursor: default;
  }

  &:hover:not(:disabled) {
    background-color: darken(#bfe5e2, 15%);
  }

  &.partial .star {
    color: yellow;
  }

  &.mastered .star {
    color: limegreen;
  }
}

.levelsIndicator {
  text-align: left;

  &.hidden {
    visibility: hidden;
  }
}

.star {
  color: #fff;
  font-size: 3vmin;
}

.legend {
  list-style: none;
  margin: auto 0 2vmin;
  padding: 0;

  li {
    display: flex;
    align-items: center;

    font-size: 1.7vmin;
  }

  li:not(:first-child) {
    margin-top: 2vmin;
  }
}

.legendStar {
  padding: 0.2vmin 1vmin;
  flex-shrink: 0;
  margin-right: 1vmin;
  font-size: 3vmin;
  border-radius: 0.5vmin;
  border: 1px solid #c3c7d7;
  background-color: #bfe5e2;
  display: inline-flex;

  img {
    height: 3vmin;
  }
}
