.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.label {
  // font-size: 16px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.questionTypeBtn {
  background-color: rgba(255, 255, 255, 0.3);
  border: solid 1px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 6px 12px;
  font-weight: 500;
  width: 170px;
  text-align: center;

  &:hover:not(:disabled) {
  background-color: rgba(255, 255, 255, 0.8);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.question {
  height: 50px;
  width: 100%;
  padding: 5px;
  font-family: inherit;
  font-size: 14px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-color: #fff;

  @media only screen and (min-width: 1366px) {
    font-size: 16px;
  }

  em {
    color: red;
    font-style: normal;
  }
}

.fieldWrapper {
  // position: relative;
  // // min-height: 66px;
  // display: flex;
  // align-items: center;
  align-self: stretch;
  margin-right: auto;
}

.textareaAnswer {
  width: 300px;
  height: 100%;
  font-family: inherit;
  font-size: 14px;
  padding: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border: none;
  
  @media only screen and (min-width: 1366px) {
    font-size: 16px;
  }
}

.answerWrapper {
  margin-left: 50px;
  display: flex;
  align-items: center;
  height: 66px;
  padding-bottom: 10px;
}

.longAnswerWrapper {
  margin-left: 50px;
  display: flex;
  align-items: center;
  height: 82px;
  padding-bottom: 10px;
}
