.button {
  padding: 3px 5px;
  width: 300px;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;

  &:hover:not(:disabled) {
    background-color: lightblue;
  }
}

.buttonsWrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
