.nameField {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
}

.label {
  font-weight: 500;
  margin: 5px 0 2px 0;
  padding: 0;
  font-size: 14px;
  color: black;
  display: block;
  margin-bottom: 5px;
}

.generateBtn {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  font-weight: 500;

  &:disabled {
    opacity: 0.5;
  }

  img {
    transition: transform 0.2s ease;
  }

  &:hover:not(:disabled) {
    img {
      transform: scale(0.95);
    }
  }

  &:active {
    img {
      transform: scale(0.92);
    }
  }

  span {
    margin-bottom: 10px;
  }
}
