.actionsList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: auto;
  margin-left: 20px;

  li {
    margin-bottom: 10px;
  }

  li > * {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 500;
    transition: all 0.1s ease;
    color: #000;

    &:disabled {
      opacity: 0.7;
    }

    &:visited {
      color: #000;
    }

    &:hover:not(:disabled) {
      color: #0080ff;
    }

    img {
      margin-right: 10px;
    }
  }
}
