.bottomSection {
}

.inputGroup {
  width: 400px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  label {
    min-width: 120px;
    padding-right: 20px;
    font-weight: 500;
    margin-left: 10px;
  }

  input,
  select {
    padding: 2px 5px;
    width: 320px;
  }
}

.searchBtn {
  padding: 3px 5px;
  width: 200px;
  margin-left: 10px;
  height: 100%;
  text-align: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;

  &:hover:not(:disabled) {
    background-color: lightblue;
  }
}
