.filters {
  display: flex;
  // justify-content: space-around;
  margin-bottom: 30px;
}

.filterColumn,
.filterColumnWithSelect {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.filterColumnWithSelect {
  width: 250px;
}

.radioControl {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  input {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.generateBtn {
  align-self: center;
  margin-bottom: 10px;
  margin-top: 5px;

  padding: 8px 20px !important;
}

.table {
  width: 100%;
  
  tbody {
    display: block;
    height: 300px;
    overflow: auto;
    width: 100%;
  }

  tr {
    display: flex;
    padding: 5px;
    border-bottom: 1px solid #9b9b9b;
  }

  td:nth-child(1),
  th:nth-child(1) {
    width: 30%;
  }

  td:nth-child(2),
  th:nth-child(2) {
    width: 35%;
  }

  td:nth-child(3),
  th:nth-child(3) {
    width: 35%;
  }
}
