.list {
  min-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  padding: 3px;
  margin: 0;
  flex-grow: 1;
  height: 500px;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }

  &::-webkit-scrollbar:vertical {
    width: 11px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border: 2px solid #fff;
    border-radius: 8px;
  }

  li {
    list-style: none;
    cursor: pointer;
    border-bottom: 1px solid #777;
    height: 20px;
    overflow: hidden;
    line-height: 1.5;
    font-size: 14px;
    padding-left: 20px;

    background-repeat: no-repeat;
    background-position: center left;

    &:hover {
      background-color: #eee;
    }

    &.active {
      background-color: lightblue;
    }

    &.active:hover {
      background-color: lightblue;
    }
  }
}
