.wrapper {
  padding: 0px 40px 0 10px;
  display: flex;
  align-items: center;
  margin: 0;
}

.text {
  font-weight: 500;
  margin-left: 30px;
  margin-right: 30px;
}

.test {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.preview-image {
  width: 100%;
}
