.container {
  padding: 15px 10px 10px;
  margin-bottom: 20px;

  legend {
    padding: 0 5px;
  }
}

.checkboxesGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.label {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  user-select: none;
  cursor: pointer;

  input {
    margin-right: 5px;
  }

  span {
    font-size: 13px;
  }
}
