.flink-make {
  background-color: #0080ff;
  min-height: 100vh;
  font-size: 18px;

  &__inner {
    width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #0080ff;
    padding-bottom: 50px;
  }

  h4 {
    font-size: 20px;
    text-align: center;
    margin: 0 0 2px;
    font-weight: 500;
  }

  .header {
    display: flex;
  }

  .content-wrapper {
    padding: 0 10px;
    border-radius: 20px;
    position: relative;

    display: flex;
    flex-direction: column;
    min-height: 800px;

    & > *:not(.main-row) {
      flex-shrink: 0;
    }

    &--preview {
      padding: 0;
      overflow: hidden;
    }
  }

  .logo-wrapper {
    width: 200px;
    height: 130px;
    margin-right: 30px;
    display: flex;
    align-items: center;
  }

  .main-nav {
    display: flex;
    padding: 10px 22px 0 0;
    // overflow: hidden;
    margin-left: 300px;
    align-items: flex-end;
    min-height: 50px;

    &__my-account {
      margin-left: auto;
      background: none;
      color: #fff;
      font-size: 1.4rem;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: 5px;
      border: none;
      padding: 1rem 2rem;
      text-decoration: none;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    &__link {
      margin-left: 6px;
      min-width: 98px;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.5px;
      padding: 5px 10px 3px;
      line-height: 1.4;
      text-align: center;
      cursor: pointer;
      text-decoration: none;

      // background-color: #7c7cd8;
      // border-top-left-radius: 5px;
      // border-top-right-radius: 5px;
      // box-shadow: 2px 3px 8px -3px black;
      // border: none;

      background-color: #fff;
      background-color: #943995;
      color: #943995;
      color: #fff;

      position: relative;
      z-index: 1;
      transform: translateY(100%);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: none;
      border: 1px solid #943995;
      border-top: none;

      &:hover:not(:disabled):not(.active):not(.disabled) {
        color: #fff;

        // background-color: darken(#7c7cd8, 5%);

        background-color: darken(#943995, 5%);
        border-color: darken(#943995, 5%);
      }

      &:disabled,
      &.disabled {
        cursor: default;
        opacity: 0.8;
      }

      &:focus {
        outline: none;
      }

      &.active {
        // color: #000;
        // background-color: #fff;
        color: #fff;
        background-color: #943995;

        background-color: #0080ff;
        border-color: #0080ff;
      }
    }
  }

  .main-row {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding-bottom: 20px;
    margin: 0 -5px;

    > * {
      margin: 0 5px;
    }

    &__col {
      width: 100%;
      max-width: 70%;
      display: flex;
      flex-direction: column;
    }

    &__col-inner {
      padding: 12px;
    }
  }

  .activity-thumbnail {
    width: 280px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 210px;
    }
  }

  .glass-wrapper {
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;

    &--full-height {
      flex-grow: 1;
      margin-bottom: 0;
    }
  }

  .btn {
    cursor: pointer;
    padding: 3px 6px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    text-align: center;
  }

  .activity-name {
    font-size: 20px;
    align-self: center;
  }

  .btn-effect {
    &:hover {
      transform: scale(0.98);
    }
    &:active {
      transform: scale(0.92);
    }
  }

  button {
    &:disabled {
      cursor: not-allowed;
    }
  }

  label {
    font-weight: 500;
    font-size: 18px;
  }
}

.problem-list {
  width: 300px;
  max-width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
}
