.matchTypeWrapper {
  margin-top: 20px;
}

.matchTypeBlock {
  height: 190px;
  display: flex;

  > span {
    align-self: center;
    font-weight: 500;
    margin-right: 10px;
    font-size: 20px;
  }
}

.matchTypeFields {
  flex-grow: 1;

  label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  input:not([type=checkbox]), select {
    height: 30px;
    margin-bottom: 10px;
    width: 100%;
  }

  input:not([type=checkbox]) {
    padding: 3px 5px;
  }

  input[type=checkbox] {
    margin-right: 5px;
    margin-bottom: 3px;
  }

  select {
    text-transform: capitalize;
  }
}
