.inFocus {
  z-index: 100;

  .removeButton,
  .moveButton {
    opacity: 1;
    visibility: visible;
  }

  .removeButton {
    transform: translateX(-100%);
  }

  .moveButton {
    transform: translateX(100%);
  }
}

.editorToolbar {
  z-index: 1;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  background-color: rgba(#fff, 0.95);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;

  &.visibleToolbar {
    opacity: 1;
    transform: translateY(-100%);
    visibility: visible;
  }
}

.wrapper {
  position: relative;
  height: 100%;

  // &.disabled {
  //   .removeButton,
  //   .moveButton,
  //   .editorToolbar {
  //     display: none !important;
  //   }

  //   .editor {
  //     // background: none;
  //   }
  // }
}

.editor {
  position: relative;
  background-color: rgba(#fff, 0.95);
  height: 100%;
  font-size: 16px;
}

.hidden {
  display: none;
}

.removeButton,
.moveButton {
  position: absolute;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #ccc;
  height: 20px;
  width: 20px;

  visibility: hidden;
  opacity: 0;
  top: 0;
  transition: all 0.5s ease;
}

.removeButton {
  left: 0;
}

.moveButton {
  right: 0;
}
