.wrapper {
  width: 400px;
  height: 440px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.inputGroup {
  margin-bottom: 20px;
  flex-shrink: 0;

  label {
    margin-bottom: 5px;
    display: block;
  }

  input {
    width: 100%;
    padding: 2px 5px;
  }
}

.checkboxLabel {
  display: block;
  margin-bottom: 20px;
  cursor: pointer;
  user-select: none;
  
  input {
    display: none;
  }

  span {
    padding-left: 30px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      background-color: #fff;
      border: 1px solid #9b9b9b;
      color: #0080ff;
    }
  }

  input:checked + span {
    &::before {
      content: '\2713';
    }
  }
  input:disabled + span {
    opacity: 0.5;
  }
}

.buttonWrapper {
  text-align: center;
  margin-top: auto;

  button {
    border: 1px solid #0080ff;
    color: #0080ff;
    margin-top: auto;
    margin-bottom: 20px;
    align-self: center;
    padding: 5px 40px;
    border-radius: 10px;

    &:disabled {
      color: #9b9b9b;
      border-color: #9b9b9b;
    }

    &:hover:not(:disabled) {
      color: #fff;
      background-color: #0080ff;
    }
  }
}

