.home {
  min-height: 100vh;
  padding-top: 50px;
  background-color: royalblue;


  &__login-button {
    display: block;
    width: 30rem;
    margin: 10rem auto 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
    padding: 2rem;
    cursor: pointer;
    background-color: transparent;
    transition: all .1s ease-in-out;

    &:hover {
      letter-spacing: 3px;
      background-color: rgba( #000000, .1);
    }
  }

  &__cta {
    display: block;
    width: 30rem;
    margin: 2rem auto 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
    padding: 2rem;
    cursor: pointer;
    background-color: transparent;
    transition: all .1s ease-in-out;
    border: none;

    &:hover {
      letter-spacing: 3px;
      background-color: rgba( #000000, .1);
    }
  }
}
