.wrapper {
  height: 390px;
  width: 550px;
  margin: 0 auto;
  display: flex;

  > * {
    background-color: #fff;
    border: solid 1px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
  }
}

.editor {
  height: 100%;

  * {
    font-family: inherit;
  }

  u {
    display: inline-flex;
    font-size: 100%;
    user-select: none;
    color: #0080ff;
    text-decoration: none;
  }
}

.textOuterWrapper {
  border-radius: 8px;
}

.textInnerWrapper {
  height: 100%;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-height: 100%;
  }
}

.contentEditable {
  height: 100%;
  padding: 12px;
  overflow-y: auto;
}

.IMAGE_IN_RIGHT {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  * {
    font-size: 83%;
  }

  .textOuterWrapper {
    width: 49%;
    flex-shrink: 0;
    align-self: stretch;
  }

  .imageWrapper {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.IMAGE_IN_TOP {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  * {
    font-size: 85%;
  }

  .imageWrapper {
    order: 1;
    flex-shrink: 0;
    height: 35%;

    img {
      height: 100%;
      width: auto;
      max-width: none;
    }
  }

  .textOuterWrapper {
    order: 2;
    width: 100%;
    height: 64%;
    flex-shrink: 0;
  }
}

.BIG_TEXT {
  display: flex;
  width: 500px;
  height: 375px;
  margin-left: auto;
  margin-right: auto;

  * {
    font-size: 82%;
  }

  .textOuterWrapper {
    flex-grow: 1;
    width: 100%;
  }

  .imageWrapper {
    display: none;
  }
}

.SMALL_TEXT {
  width: 70%;
  height: 91%;
  margin-left: auto;
  margin-right: auto;
  display: flex;

  * {
    font-size: 92%;
  }

  .textOuterWrapper {
    flex-grow: 1;
    width: 100%;
  }

  .imageWrapper {
    display: none;
  }
}
