.wrapper {
  display: flex;
}

.actions {
  width: 50px;
  flex-shrink: 0;
  margin-right: 10px;
  padding-top: 25px;
}

.content {
  flex-grow: 1;

  select {
    width: 100%;
  }
}

.actionsList {
  padding-left: 0;
  list-style: none;
}

.groupSelect {
  margin-bottom: 10px;
}

.activityGroupContentList {
  background-color: #fff;
  height: 180px;
  overflow-y: scroll;
  list-style: none;
  padding-left: 0;
  padding: 5px;
  border-radius: 3px;
  margin: 0;

  li {
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    font-size: 14px;
    padding: 0 5px 0 25px;
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: 0 center;

    &:hover {
      background-color: #eee;
    }

    &.selected {
      background-color: lightblue;
    }
  }
}
