.selectScopeWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  label {
    width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
  }

  button {
    margin-top: 5px;
    margin-left: 20px;
  }
}

.assignGroupsWrapper {
  display: flex;
}