.form {
  // height: 574px;
}

.membersWrapper {
  overflow-y: auto;
  height: 430px;
}

.memberFieldsWrapper {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.addButtonWrapper {
  width: 30px;
  flex-shrink: 0;
}

.addBtn {
  width: 25px;
}

.memberFields {
  border: 1px solid #aaa;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 128, 255, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > * {
    width: 48%;
  }

  * {
    margin-bottom: 0;
  }

  label {
    display: block;
    margin: 5px 0;
  }

  input {
    height: 3rem;
  }
}

.productName {
  font-size: 14px;

  b {
    font-weight: 500;
  }
}
