.label {
  font-weight: 500;
  font-size: 16px;
  display: block;
}

.audioWrapper {
  margin-bottom: 30px;
}

.wordFieldWrapper {
  margin-top: 20px;
}

.wordInput {
  font-family: inherit;
  width: 100%;
  margin: 5px 0;
  padding: 5px 10px;
  letter-spacing: 1px;
  border: 1px solid #acacac;
}

.wordConfig {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.letterBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;

  label {
    border: 1px solid #acacac;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-bottom: 5px;
    cursor: pointer;

    &.disabledLabel {
      background-color: rgba(#fff, 0.2);
      cursor: default;
    }

    &:hover:not(.disabledLabel) {
      background-color: rgba(#0080FF, 0.2);
    }
  }
}

.options {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  label.label {
    margin-right: 50px;
  }

  span.label {
    margin-right: 5px;
  }

  input {
    width: 30px;
    height: 30px;
    line-height: 30;
    text-align: center;
    margin-right: 20px;
    font-family: inherit;
  }
}

.definition {
  margin-top: 3px;
  
  textarea {
    font-family: inherit;
    width: 100%;
    padding: 5px 10px;
  }
}

.useNameBlock {
  display: flex;
  margin-top: 20px;

  label {
    margin-right: 15px;
    cursor: pointer;
    span {
      margin-left: 5px;
    }
  }
}
