.wrapper {
  // background-color: #fff;
  opacity: 1;
}

.inner {
  padding: 0;

  display: flex;
}

.button {
  display: block;

  &[hidden] {
    display: block;
    visibility: hidden;
  }

  img {
    max-width: 90%;
    max-height: 90%;
  }
}
