.row {
  display: flex;
}

.row + .row {
  margin-top: 20px;
}

.controls {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;

  > * {
    margin-right: 30px;
  }

  > *:last-child {
    margin-left: auto;
  }
}

.guideSlot {
  position: relative;
  height: 68px;
  width: 68px;
}

.guideTopText,
.guideBottomText {
  position: absolute;
  z-index: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  left: 0;
  width: 100%;
  height: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.guideTopText {
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.guideBottomText {
  top: 50%;
  margin-top: -1px;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.guideAudioIcon {
  position: absolute;
  z-index: 0;
  width: 30px;
  height: 30px;
  opacity: 0.55;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.rowControls {
  width: 150px;
  flex-shrink: 0;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 15px;

  > * {
    margin-bottom: 10px;
  }
}

.rowControlButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  margin-left: 10px;

  span {
    font-weight: 500;
    display: block;
  }

  img {
    max-height: 45px;
    width: auto;
    max-width: 45px;
  }

  &:hover img {
    transform: scale(0.98);
  }

  &:active img {
    transform: scale(0.92);
  }
}

.guideEditor {
  overflow: hidden;
  // padding: 12px 15px;
}
