$blue: var(--blue);
$purple: var(--purple);

// Form
.loginForm {
  font-size: 1.35vw;

  margin-top: auto;
  display: flex;
  flex-direction: column;
  color: var(--blue);
}

.loginsWrapper {
  display: flex;
  margin-bottom: 3.3vw;
}

.formContent {
  // margin-top: auto;
  // margin-bottom: auto;
}

.buttonsWrapper {
  display: flex;
  position: relative;
}

.button {
  cursor: pointer;
  min-width: 20vw;
  height: 4vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vw;

  border-radius: 1vw;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2vw;
  font-weight: bold;
  margin-right: 1.5vw;
  transition: all 0.1s ease;

  &.purple {
    background-color: $purple;

    &:hover:not(:active) {
      box-shadow: 0 0 0.6vw 1px $purple;
    }
  }

  &.blue {
    background-color: $blue;

    &:hover:not(:active) {
      box-shadow: 0 0 0.6vw 1px $blue;
    }
  }
}

// .forgotPassBtn {
//   position: absolute;
//   right: 0;
//   top: 0;
// }

.radioWrapper {
  display: flex;
  margin-bottom: 2.6vw;
}

.radioLabel {
  margin-right: 3.5vw;
  cursor: pointer;
  padding-left: 2vw;
  position: relative;
  font-size: 1.6vw;

  // @media (orientation: portrait) and (max-width: 565px) {
  //   font-size: 3.5vw;
  //   padding-left: 4vw;
  // }

  $circleBase: 1.24vw;

  &:hover {
    color: var(--purple);
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
  }

  &::before {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: $circleBase;
    height: $circleBase;
    background-color: #fff;
    border-radius: 50%;

    // @media (orientation: portrait) and (max-width: 565px) {
    //   width: $circleBase * 2;
    //   height: $circleBase * 2;
    // }
  }

  &::after {
    top: 50%;
    transform: translate(-50%, -50%);
    left: $circleBase / 2;
    width: $circleBase / 2 + 0.13vw;
    height: $circleBase / 2 + 0.13vw;
    background-color: rgba(#000, 0.1);
    border-radius: 50%;

    // @media (orientation: portrait) and (max-width: 567px) {
    //   left: $circleBase;
    //   width: ($circleBase / 2 + 0.13vw) * 2;
    //   height: ($circleBase / 2 + 0.13vw) * 2;
    // }
  }

  &.checked {
    &::after {
      background-color: var(--blue);
    }
  }

  input {
    display: none;
  }
}

// @media (orientation: portrait) and (max-width: 991px) {
//   .loginsWrapper {
//     display: block;
//   }
// }

// @media (orientation: portrait) and (max-width: 567px) {
//   .radioLabel {
//     color: #fff;
//   }

//   .loginForm {
//     font-size: 2.7vw;
//   }

//   .buttonsWrapper {
//     justify-content: space-between;
//   }

//   .button {
//     width: 45%;

//     height: 8vw;
//     padding: 1vw;
//     border-radius: 2vw;
//     font-size: 2.4vw;
//     margin-right: 0;
//   }
// }
