.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.settingsOuter {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.settingsInner {
  background-color: #fff;
  width: 90vmin;
  max-width: 800px;
  max-height: 82vmin;
  // overflow-y: scroll;
  // overflow-x: hidden;
  position: relative;
}

.themeImgWrapper,
.characterImgWrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: transform 0.2s ease-out;
  transform: scale(0.92);
  backface-visibility: hidden;

  &:hover {
    transform: scale(1);
  }
}

.themeImgWrapper {
  height: 10vmin;
}

.characterImgWrapper {
  height: 15vmin;
}

.itemButton {
  display: block;
  width: calc(100% - 6px);
  padding: 0 3px;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid transparent;
  transition: all 0.2s ease-out;
}

.selectedItem {
  border-color: #972bc9;
  background-color: rgba(#972bc9, 0.5);

  .themeImgWrapper,
  .characterImgWrapper {
    transform: scale(1);
    cursor: default;
  }
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.5vmin;
  margin-right: -1.5vmin;

  > * {
    margin-left: 1.5vmin;
    margin-right: 1.5vmin;
  }
}

.radioListWrapper {
  border: 2px solid #972bc9;
  border-radius: 1vmin;
  margin-bottom: 1.5vmin;
  padding: 1vmin 2vmin;
}

.radioListLabel {
  font-weight: 500;
  font-size: 2vmin;
  margin: 0;
  text-align: center;
  margin-bottom: 1.2vmin;
}

.radioList {
  margin: 0;
  padding: 0;

  label {
    display: block;
    font-size: 2vmin;
  }

  input {
    display: none;
  }

  span {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding-left: 3vmin;
    height: 1.6vmin;
    font-size: 1.6vmin;
    line-height: 1.6vmin;
    margin-bottom: 0.7vmin;

    &::after {
      content: '';
      visibility: hidden;
      opacity: 0;
      position: absolute;
      height: 0.6vmin;
      width: 0.6vmin;
      left: 0.5vmin;
      top: 0.5vmin;
      border-radius: 50%;
      background-color: #00001d;
      transition: all 0.3s ease;
    }

    &::before {
      content: '';
      position: absolute;
      height: 1.6vmin;
      width: 1.6vmin;
      left: 0;
      top: 0;
      border-radius: 50%;
      background-color: #fff;
      border: 1px solid #00001d;
    }
  }

  input:checked + span::before {
    // background-color: #00001d;
  }
  input:checked + span::after {
    visibility: visible;
    opacity: 1;
  }
}

.settingsActions {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1.2vmin;

  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  flex-direction: row;

  width: auto;
  flex-direction: column;
  align-items: stretch;

  align-self: flex-end;
  margin-left: auto;

  button + button {
    margin-top: 1vmin;
  }
}

.popup {
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  padding: 1.5vmin;
  display: flex;
  flex-direction: column;
}

.popupViewport {
  overflow-y: auto;
  flex-grow: 1;
}

.popupActions {
  align-self: flex-end;
  margin-bottom: 1.2vmin;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    margin-top: 1vmin;
    margin-right: 0;
  }

  button + button {
    margin-top: 1vmin;
  }
}
