.modalInner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 32px;
  position: absolute;
  transform: translate(-50%, -50%);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);

  &:focus {
    outline: none;
  }
}

.buttonWrapper {
  display: flex;
  align-items: center;

  button {
    margin-left: 20px;
  }
}

.appbar {
  position: relative;
}

.flex {
  flex: 1;
}

