.subheadsControls {
  margin-bottom: 20px;
  display: flex;

  align-items: center;
  justify-content: space-between;

  input {
    width: 200px;
    margin-right: 20px;
    padding: 5px 10px;
  }
}
