// Animations
.wrapper {
  overflow: hidden;
  background-color: #0080ff;
  min-height: 240px;
  min-width: 320px;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  position: relative;
  z-index: 10;
  width: 100%;
  overflow: hidden;

  height: 100%;
}

.appear {
  opacity: 0;
  transform: translateY(-1.5vmin);
  transition: all 0.5s ease-out;
}

.appearActive {
  opacity: 1;
  transform: translateY(0);
}
