.topControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addImageBlock {
  width: 140px;
  flex-shrink: 0;
}

.addAudioBlock {
  width: 160px;
  flex-shrink: 0;
}

.addTextButton {
  img {
    height: 48px;
    transition: all 0.1s;
  }

  &:hover:not(:disabled) {
    img {
      transform: scale(0.97);
    }
  }

  &:disabled {
    opacity: 0.7;
  }
}

.label {
  display: block;
  font-weight: 500;
}

.enterNumberBlock {
  width: 120px;

  input {
    margin-top: 10px;
    width: 100%;
    padding: 3px 5px 4px;
  }
}

.contentArea {
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin: 30px auto;

  position: relative;
  background-color: #fff;
}

.textImage {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
