.wrapper {
}

.header {
  display: flex;
}

.addImageWrapper {
  width: 200px;
}

.optionsWrapper {
  display: flex;
  margin-left: auto;

  label {
    width: 100%;
  }

  > * {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
}
