.individualReportWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.buttonsWrapper {
  position: absolute;
  bottom: 4.5vmin;
  font-size: 3vmin;
  transform: translateX(-50%);
  left: 50%;
}

.goBackBtn,
.closeIndividualReportBtn {
  border: 2px solid #fff;
  padding: 2vmin 3vmin;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  margin: 0 2vmin;

  &:hover {
    background-color: #fff;
    color: #000;
  }
}
