.label {
  font-weight: 500;
  font-size: 16px;
  display: block;
}

.audioWrapper {
  margin-bottom: 30px;
}

.wordConfig {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.syllableBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 20%;

  input[type=checkbox]:not(:disabled) {
    cursor: pointer;
  }

  input[type=text] {
    border: 1px solid #acacac;
    height: 30px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.options {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  label.label {
    margin-right: 50px;
  }

  span.label {
    margin-right: 5px;
  }

  input {
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 20px;
    font-family: inherit;
  }
}

.definition {
  margin-top: 3px;
  
  textarea {
    font-family: inherit;
    width: 100%;
    padding: 5px 10px;
  }
}


