.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  margin-top: -5px;
}

.yearControls {
  display: flex;
  align-items: center;

  label {
    margin-right: 10px;
  }
}

.select {
  width: 150px;
}