.reportGroupsControls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  align-items: center;

  h4 {
    width: 100%;
    margin-bottom: 5px;
  }
}

.reportGroupSelect {
  width: 185px;
  margin-left: 15px;
  margin-right: 15px;
}

.reportGroupProductName {
  font-size: 14px;
  margin-bottom: 0;

  span {
    font-weight: 500;
  }
}
