.wrapper {
  position: absolute;
  right: 0;
  top: 50%;
  // top: calc(50% - 3.3vmin);
  bottom: 0;
  left: 50%;
  // transform: translateX(-50%);
}

.pagesListInner {
  padding: 0;
}

.currentImage {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
  text-align: center;

  

  img {
    max-height: 100%;
    min-height: 180px;
    width: auto;
    max-width: 100%;
  }

  &.big {
    margin-top: 0;
    height: 100%;
    text-align: center;

    img {
      display: inline-block;
      min-height: 290px ;
    }
  }
}

.editorWrapper {
  position: absolute;
  // width: 100%;
  left: 0;
  top: 0;

  &.editorEbookMode {
    max-height: 100%;

    .editorInner {
      // flex-direction: column;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
  }
}

.editorInner {
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.navBtn {
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(50% + 35px);
  display: flex;
  align-items: center;
  user-select: none;
  z-index: 10;

  &:hover img {
    transform: scale(0.95);
  }

  &:active img {
    transform: scale(0.85);
  }

  &.prevBtn {
    justify-content: flex-start;
    left: -35px;
  }

  &.nextBtn {
    justify-content: flex-end;
    right: -35px;
  }

  img {
    width: 5vmin;
    transition: all 0.2s ease;
  }
}

.recorder {
  margin-left: 15px;
  width: 10vmin;
}

.recorderInner {
  flex-direction: column;
}

.recorderButton {
  height: 33%;
}

.bottomSectionWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
}
