.form {
  padding-top: 20px;
  padding-bottom: 50px;
}

.memberFields {
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  margin-bottom: 10px;
  // width: calc(100% - 50px);
  position: relative;
}

.membersControls {
  width: 60px;
  position: relative;
}

.deleteMemberIcon {
  position: absolute !important;
  top: 50%;
  right: -10px;
  transform: translate(100%, -50%);
  color: white !important;
  background-color: red !important;
}

.deleteAddonButton {
  color: white !important;
  background-color: red !important;
}

.addonsControls {
  display: flex;
  justify-content: center;

  > * {
    margin: 15px !important;
  }
}
