.filters {
  display: flex;
  // justify-content: space-between;
  margin-left: -20px;
  align-items: flex-end;

  > div {
    margin-left: 20px;
    min-width: 200px;

    > label {
      margin-bottom: 5px;
      display: block;
    }
  }

  button {
    margin-bottom: 2px;
  }

  input {
    text-align: center;
  }
}

.familyBtn {
  color: blue;
  cursor: pointer;
  
  &:hover {
    text-decoration: underline;
  }
}

.modalProgress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.familyReportsTable {
  td, th {
    padding: 5px 10px;
  }
  
  th {
    text-align: left;
  }
}
