.table {
  margin-top: 20px;

  input,
  select {
    padding: 6px;
    width: 100%;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 3px;
    background: #fff;
  }

  select {
    -webkit-appearance: none;
  }
}

th:nth-child(1) {
  text-align: left;
}

.titleCol {
  width: 150px;
}

.nameCol {
  width: 80px;
}

.imageCol {
  width: 150px;
}

.checkboxCol {
  width: 100px;
  text-align: center;

  label {
    margin-right: 0;
  }

  span {
    padding: 0;
  }
}

.subheadsCol {
  min-width: 140px;
  text-align: center;
}

// .subheadsWrapper {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;

//   input {
//     width: 180px;
//   }
// }
