.layoutLabel {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  font-size: 18px;
}

.layoutsList {
  display: flex;
  margin: 0;
  align-items: center;
  list-style: none;
  padding-left: 0;

  li:not(:last-child) {
    margin-right: 10px;
  }

  button {
    border: 2px solid transparent;

    &:hover {
      border-color: rgba(#0080ff, 0.5);
    }

    &.active {
      border-color: #0080ff;
    }
  }

  img {
    display: block;
  }
}
