.table {
  background-color: #fff;
  border-collapse: collapse;

  tr {
    border: 1px solid #000;
  }

  td,
  th {
    border: 1px solid #000;
    padding: 5px;
  }
}

.tableWrapper {
  overflow: auto;
  height: 500px;
}

.statList {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-between;

  li {
    border: 1px solid rgba(#000, 0.5);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;

    &:hover {
      background-color: rgba(#0080ff, 0.2);
    }

    &.active {
      background-color: rgba(#0080ff, 0.2);
      cursor: default;
    }
  }
}

.dataList {
  list-style: none;
}

.startBtn {
  width: 200px;
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 auto;
  border: 1px solid rgba(#000, 0.5);
  border-radius: 5px;
  padding: 5px 10px;
  color: #000;

  &:disabled {
    opacity: 0.5;
  }

  &:hover:not(:disabled) {
    background-color: rgba(#0080ff, 0.2);
  }
}
