.wrapper {
  top: 50%;
  left: 50%;
  // width: 400px;
  padding: 32px;
  position: absolute;
  transform: translate(-50%, -50%);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;

  &:focus {
    outline: none;
  }
}
