.imagesAuthoring {
  display: flex;
}

.imagesControlsWrapper {
  width: 150px;
  flex-shrink: 0;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 15px;
}

.importButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  cursor: pointer;
  margin-left: 10px;

  span {
    display: block;
  }

  &:hover img {
    transform: scale(0.98);
  }

  &:active img {
    transform: scale(0.92);
  }
}

.options {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
}

.selectWrapper {
  margin-bottom: 20px;

  label {
    margin-right: 10px;
  }
}

.features {
  display: block;
  padding: 0;
  border: none;
  margin-right: 50px;

  legend {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

.checkboxesList {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 5px;
  }

  label {
    display: inline-flex;
    align-items: center;

    input {
      margin-bottom: 4px;
    }

    span {
      font-size: 18px;
      font-weight: 400;
      margin-left: 5px;
      cursor: pointer;
    }

    input:disabled + span {
      opacity: 0.5;
      cursor: default;
    }
  }
}
