.textControls {
  display: flex;
  align-items: center;
}

.rowControlButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  margin-left: 10px;

  span {
    font-weight: 500;
    display: block;
  }

  img {
    max-height: 45px;
    width: auto;
    max-width: 45px;
  }

  &:hover img {
    transform: scale(0.98);
  }

  &:active img {
    transform: scale(0.92);
  }
}

.deleteButton {
  margin-left: 10px;
  margin-top: 20px;
}
