.form {
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding-bottom: 8vmin;
}

.formViewport {
  overflow-y: auto;
  // padding: 2vmin;
  height: 100%;
}

.formButtonsWrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2vmin;
  position: absolute;
  bottom: 0;

  button {
    margin-top: 0;
    margin-right: 2vmin;
  }
}

.memberFields {
  // border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
  // padding: 5px;
  padding: 2vmin;

  &:nth-child(2n + 2) {
    background-color: #e8e8e8;
  }

  p {
    margin-top: 0;
  }

  @media only screen and (min-width: 576px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  > * {
    @media only screen and (min-width: 576px) {
      width: 47%;
    }

    @media only screen and (min-width: 768px) {
      &:nth-child(1),
      &:nth-child(2) {
        width: 49%;
      }

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        width: 32%;
      }
    }
  }
}
