.wrapper {
  display: block;
  height: 180px;
  padding-top: 10px;
  overflow-y: scroll;
}

.topLine {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  // margin-top: 10px;

  span {
    min-width: 200px;
  }

  button {
    margin: 0 5px;

    &:disabled {
      visibility: hidden;
    }
  }
}

.blocksWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  input {
    height: 30px;
    font-size: 14px;
    padding: 2px 5px;
    background-color: #fff;

    &:focus {
      outline: none;
    }
  }
}

.singleBlock {
  border: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
  margin-bottom: 5px;

  &:not(:last-child) {
    margin-right: 5px;
  }

  &.selectedBlock {
    box-shadow: 0 0 2px 2px #0080ff;
  }
}
