.title {
  font-weight: 400;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  > * {
    margin-right: 20px;
    margin-bottom: 20px;
    min-width: 200px;
  }
}

.centersColumn {
  width: 280px;

  display: flex;
  flex-direction: column;
}

.selectWrapper {
  display: flex;
  align-items: center;
  width: 320px;
  justify-content: space-between;
  margin-bottom: 10px;

  > div {
    width: 230px;
  }
}