.gameOptions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-top: -40px;
  height: 30px;
  align-items: center;
}

.gameOptionsGroup {
  display: flex;
  align-items: center;
  margin-right: 20px;
  
  label {
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      font-size: 18px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border: 1px solid #000;
      margin-right: 5px;
    }
  }

  input {
    display: none;
  }

  input:disabled + label {
    opacity: 0.5;
    cursor: default;
  }

  input:checked + label::before {
    content: '\2714';
  }
}