.flink-admin {
  background-color: #0080ff;
  min-height: 100vh;
  font-size: 18px;

  &__inner {
    width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #0080ff;
  }

  h4 {
    font-size: 20px;
    text-align: center;
    margin: 0 0 2px;
    font-weight: 500;
  }

  &__header {
    display: flex;
    margin-bottom: 30px;
  }

  &__content-wrapper {
    padding: 0 10px;
    border-radius: 20px;
    position: relative;

    display: flex;
    flex-direction: column;
    min-height: 800px;

    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(102, 51, 204);

    & > *:not(.main-row) {
      flex-shrink: 0;
    }

    &--preview {
      padding: 0;
      overflow: hidden;
    }
  }

  &__logo-wrapper {
    width: 200px;
    height: 130px;
    margin-right: 30px;
    display: flex;
    align-items: center;
  }

  &__top-nav {
    display: flex;
    padding: 10px 22px 0 0;
    margin-left: 300px;
    align-items: flex-end;
    min-height: 50px;
  }

  &__my-account {
    margin-left: auto;
    background: none;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 1rem 2rem;
    text-decoration: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &__nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }

  &__nav-btn {
    width: 32%;
    margin-left: 1%;
    margin-bottom: 10px;
    text-align: center;
    line-height: 2;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    color: #000;
    text-decoration: none;
  }

  &__nav-btn.active {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.75);
  }

  &__main-row {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding-bottom: 20px;
    margin: 0 -5px;

    > * {
      margin: 0 5px;
    }
  }

  &__main-row-col {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__main-row-col-inner {
    padding: 12px;
  }

  .glass-wrapper {
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;

    &--full-height {
      flex-grow: 1;
      margin-bottom: 0;
    }
  }

  .btn {
    padding: 3px 6px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    text-align: center;

    &:disabled {
      opacity: 0.5;
    }
    
    &:not(:disabled):hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  .btn-effect {
    &:hover {
      transform: scale(0.98);
    }
    &:active {
      transform: scale(0.92);
    }
  }

  button {
    &:disabled {
      cursor: not-allowed;
    }
  }

  label {
    font-weight: 500;
    font-size: 18px;
  }

  .tabs-container {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid black;
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    margin-bottom: 10px;
    width: 680px;
    margin: 0 auto;
    padding: 13px;
    min-height: 58rem;
  }

  .tab-content-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .tab-content-column {
    width: 46%;
  }

  .tab-content-wrapper h4 {
    text-align: center;
    margin: 5px 0;
  }

  .transparent-panel {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 2rem;
  }

  .tabs-container__buttons-group {
    margin-top: 28px;
  }

  .tabs-container__button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    line-height: 2;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    font-weight: bold;
    opacity: 0.8;
  }

  .tabs-container__button:hover {
    opacity: 1;
  }
}
