.container {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  padding: 20px;
  justify-content: space-between;
}

.column {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.inputGroup {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  label {
    margin-right: 10px;
  }

  input {
    flex-grow: 1;
    padding: 2px 10px;
  }
}

.generateBtn {
  align-self: center;
  margin-top: 20px;
  border: 1px solid #0080ff;
  color: #0080ff;
  padding: 5px 40px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;

  &:hover:not(:disabled) {
    background-color: #0080ff;
    color: #fff;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.wordlistNameChoice {
  margin-bottom: 20px;
}

.radioGroup {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  user-select: none;
  input {
    margin-right: 15px;
    height: 18px;
  }
}

.localeSelects {
  margin-bottom: 20px;
  padding: 15px 10px 10px;

  legend {
    padding: 0 5px;
  }
}

.localeGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  span {
    margin-right: 15px;
  }

  select {
    width: 200px;
  }
}

.checkboxGroup {
  display: flex;
}

.checkbox {
  height: 28px;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;

  input {
    margin-right: 15px;
  }
}

.localesCheckbox {
  display: flex;

  label {
    margin-left: 10px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  input {
    cursor: pointer;
  }
  span {
    margin-right: 0;
    margin-left: 5px;
    font-size: 16px;
  }
}
